@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.container {
  width: min(max(300px, calc(18.75rem + ((1vw - 7.68px) * 64.6505))), 781px);
  margin: 34px auto 76px auto;

  h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: calc(2.375rem + ((1vw - 7.68px) * 2.6882));
    font-weight: 700;
    line-height: min(max(18px, calc(1.125rem + ((1vw - 7.68px) * 9.543))), 89px);
    letter-spacing: 0;
    text-align: left;
    color: #fff;
  }

  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: calc(0.75rem + ((1vw - 7.68px) * 0.8065));
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    color: #fff;
    margin-bottom: min(max(0px, calc(0rem + ((1vw - 7.68px) * 3.629))), 27px);
  }

  .chat {
    width: 100%;
    height:  63.45vh;
    border-radius: 16px;
    border: 1px;
    background-color: white;
  }

  .inputMessage {
    width: 100%;
    height: 71px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0 2px 31px 13px rgba(10, 63, 142, 0.08);
    margin-top: 38px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      width: 100%;
      border: none;
      padding: 2px 10px 2px 4px;
      color: black;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Inter, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 155%;
      margin-left: 28px;
      outline: none;
    }

    input::placeholder {
      color: #CED0D6;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: "Inter", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 155%;
      padding: 20px 0;
    }

    svg {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 24px;
      background: #007AFE;
      margin: 16px 16px 16px 0;
      padding: 7px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}